/* size */
.small
{
	font-size:0.75em;
	letter-spacing:0;
}

.smaller
{
	font-size:0.5em;
	letter-spacing:0;
}

.smallest
{
	font-size:0.3em;
	letter-spacing:0;
}


/* styles */
.em{
	font-style:italic;
}

.bold{
	font-weight:bold;
}

/* progress indocator */
.progress{
	letter-spacing:0;
}


/* sets */
.tongue_in_cheek
{
	font-family:Verdana;
	color:gray;
	letter-spacing:-0.007em;
	font-size:0.4em;
}

/* defaults */
a:visited, a:link, a:active, a:hover
{
	color:gray;
	font-size:0.75em;
	letter-spacing:0;
}


/* codeblocks */
pre{
	font-family:monospace;
	font-size:30px;
	letter-spacing:0;
	text-align:left;
}
